.textButton {
    background: none;
    border: none;
    font-size: 2vh;
    font-weight: 900;
    font-family: 'Nunito Variable', sans-serif;
    color: rgb(94, 90, 90);
    cursor: pointer;
    display: inline-flex;
}