.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(300deg,#ffffff,#c9c9cf, #ece2da);
  background-size: 400% 400%;
  animation: gradient-animation 25s ease infinite;
 }
 
 @keyframes gradient-animation {
   0% {
     background-position: 0% 50%;
  }
   50% {
     background-position: 100% 50%;
  }
   100% {
     background-position: 0% 50%;
  }
 }
 